body{
    background-color: #444444;
}

header{
    background-color: #D97706;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    background-color: #D97706;
    padding: 10px 0;
    text-align: center;
}