body {
  background-color: #deb887;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #d97706;
}

footer {
  margin-top: auto;
  background-color: #d97706;
  padding: 10px 0;
  text-align: center;
}

.btn-outline-primary {
  background-color: #cd853f;
  color: #ffffff;
  border: 1px solid #b87738;
}

.btn-outline-primary:hover {
  background-color: #b87738;
  color: #ffffff;
  border: 1px solid #b87738;
}

@media screen and (max-width: 991px) {
  .offcanvas-header{
    background-color: #d97706;
  }
  
  .offcanvas-body{
    background-color: #deb887;
  }
}
