body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff7ed;
}

header {
  background-color: #d97706;
}

footer {
  margin-top: auto;
  background-color: #d97706;
  padding: 10px 0;
  text-align: center;
}

.btn-outline-primary {
  background-color: #d97706;
  color: #ffffff;
  border: 1px solid #c36b05;
}

.btn-outline-primary:hover {
  background-color: #c36b05;
  color: #ffffff;
  border: 1px solid #c36b05;
}

@media screen and (max-width: 991px) {
  .offcanvas-header{
    background-color: #d97706;
  }
  
  .offcanvas-body{
    background-color: #fff7ed;
  }
}

/* //*Ventana: Tasks.php  */

/* Cabezera de las cartas  */
.card-header{
  background-color: #d97706;
}

/* Botón de las cartas  */
.buttonCardsTasks{
  background-color: #d97706;
}

/* Hover para las cartas  */
.container .card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}