body {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #d97706;
}

footer {
  margin-top: auto;
  background-color: #d97706;
  padding: 10px 0;
  text-align: center;
}

.btn-outline-primary {
  background-color: #1c1c1c;
  color: #ffffff;
  border: 1px solid #191919;
}

.btn-outline-primary:hover {
  background-color: #191919;
  color: #ffffff;
  border: 1px solid #191919;
}

@media screen and (max-width: 991px) {
  .offcanvas-header{
    background-color: #d97706;
    color: #ffffff;
  }
  
  .offcanvas-body{
    background-color: #444444;
    color: #ffffff;
  }
}
